[Unit]
Description = sim7600_configuration daemon
After = NetworkManager.service

[Service]
ExecStart = /usr/bin/sim7600_int.sh
RemainAfterExit = true
Type = oneshot

[Install]
WantedBy = multi-user.target

